/* .background {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: lightgray;
}

.form-container {
  border: dashed teal 1px;
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.identity-container {
  border: dashed teal 1px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.container-image {
  border: dashed teal 1px;
}

.container-name {
  border: dashed teal 1px;
}

.form-control {
}

label {
  color: var(--primary-color);
}

input {
  border: solid 1px var(--primary-color);
  padding: 3px;
  margin-bottom: 10px;
} */
