.auth {
  &__container-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__form {
    padding: 10px;
  }

  &__inputs {
    &--label {
    }

    input {
      display: block;
      width: 100%;
      padding: 5px;
      margin: 5px 0;
    }
  }

  &__login-btn {
    display: block;
    padding: 5px;
    margin: 5px 0;
  }

  &__forgotten {
    display: block;
    text-align: center;
    padding: 5px;
    margin: 5px 0;
  }

  &__signup {
    display: block;
    margin: 0 auto;
    padding: 5px;
    margin: 5px 0;
  }
}
