@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

// $color-1: blue;
// $color-2: lightgrey;
// $color-3: blue;
// $color-4: blue;
// $color-5: blue;

// body {
//   margin: 0.4rem auto;
//   max-width: 1296px;
//   font-family: $font-1;
//   color: $color-3;
//   background-color: $color-2;
// }
// li {
//   list-style-type: none;
// }
// a {
//   text-decoration: none;
//   color: $color-3;
//   cursor: pointer;
// }
// a:visited {
//   color: $color-3;
// }
