.comment {
  display: flex;
  justify-content: center;
  align-items: center;

  &-card {
    // max-width: 700px !important;
    width: 700px;
    margin-top: 20px;
    padding: 20px;

    &__post {
    }

    &__hr {
    }

    &__comment {
    }
  }

  &-module {
    margin-left: 40px;
    border-bottom: 1px solid lightgray;
    margin-top: 15px;
  }
}
