.like {
  display: flex;
  flex-direction: row;
  align-items: center;

  &--number {
    margin: 0 10px;
  }

  &--active {
    padding-bottom: 1px;
    border-bottom: 1px solid;
  }
}

.card-item__footer__left {
  display: flex;
  align-items: center;

  &--likes {
    padding: 10px;
  }
}
