.feed-body {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--desc {
    width: 90%;
  }

  &--media {
    max-width: 90%;
    max-height: 600px;
    object-fit: contain;
    margin: auto;
    margin: 20px 0;
  }
}
