.edit-post {
  &--img {
    width: 90%;
    max-height: 500px;
    object-fit: contain;
  }
}

.img {
  &--input {
    // background-color: chartreuse;
  }
  &--label {
    color: rgb(54, 54, 54);
  }
}

.chooseFileButton {
  //   background-color: coral !important;
}
