.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  // border: solid teal 1px;
  align-items: center;
  position: relative;
  border-bottom: grey 1px solid;

  &__left {
  }
  &__middle {
    display: flex;
    align-items: center;
    // border: 1px solid teal;
  }
  &__right {
    // border: dashed teal 1px;
    display: flex;
    align-items: center;

    right: 0;

    &--container {
      display: flex;
      align-items: center;
    }
    &--person {
      font-size: 2rem !important;
    }
  }
}

.auth-btn {
  margin-right: 20px;
}

.header-logo {
  height: 70px;
}

.create-post {
  width: 600px;

  &--submit {
    display: flex;
    justify-content: center;
  }

  &--hr {
    margin: 15px 0;
  }
}

.create-post--btn {
  margin-right: 15px !important;
}

@media all and (max-width: 500px) {
  .header {
    &__left {
    }
    &-logo {
      width: 200px;
    }

    &__right {
    }
  }
}

@media all and (max-width: 700px) {
  .create-post {
    width: 90%;
  }
}
