/* :root {
  --primary-color: #4c7490;
}

.btn {
  border: 1px, var(--primary-color), solid;
}

.btn-sober {
  color: var(--primary-color);
  border: 1px var(--primary-color) solid;
  height: 15px;
  padding: 8px 20px 12px 20px;
  border-radius: 10px;
  font-weight: 700;
}

.btn-filled {
  color: white;
  background-color: var(--primary-color);
  border: 1px var(--primary-color) solid;
  height: 15px;
  padding: 8px 20px 12px 20px;
  border-radius: 10px;
  font-weight: 700;
}

input,
label {
  display: block;
} */
